In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt 
from sklearn import datasets, linear_model
from scipy import stats
%matplotlib inline

In [2]:
data = pd.read_csv('winemag-data_first150k.csv')

In [3]:
# Remove description
data.drop(['Unnamed: 0'], axis = 1, inplace = True)

data.head()
data.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [ ]:
# Linear regression between price and points


x = data.loc[data['price'].notnull(), 'price'].values
y = data.loc[data['price'].notnull(), 'points'].values

plt.scatter(x,y)
plt.title('Price vs. points')  
plt.xlabel('Price')  
plt.ylabel('Points')

In [4]:
x = data.loc[data['price'].notnull(), 'price']
y = data.loc[data['price'].notnull(), 'points']


x = x.loc[:100].values
y = y.loc[:100].values

In [6]:
regressor = LinearRegression()  
regressor.fit(np.matrix(x), np.matrix(y))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [ ]:
# StatsModel

est = sm.OLS(y, x)
est2 = est.fit()
print(est2.summary())

# p-value extremely small